.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #666571;
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;
}

.inputOption:hover {
    border: 1px solid #666571;
    border-radius: 10px;
}

.inputOption > h4 {
    margin-left: 5px;
}