.login {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.login > img {
    object-fit: contain;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login > form {
    display: flex;
    flex-direction: column;
}

.login > form > input {
    width: 350px;
    height: 50px;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #030A0C;
    border: 1px solid #2A2E31;
    color: white;
}

.login > form > button {
    width: 361px;
    height: 50px;
    font-size: large;
    color: white;
    background-color: #1959F8;
    border: 0;
    border-radius: 5px;
}

.login > form > button:hover {
    cursor: pointer;
    font-size: large;
    color: white;
    background-color: #0e3eb8;
    border: 0;
    border-radius: 5px;
}

.login__register {
    color: #1959F8;
    cursor: pointer;
}

.login > p {
    margin-top: 20px;
    color: #2A2E31;
}